#container{
    position: absolute;
    top: 0px;
    width: 300px;
    min-height: 520px;
    width: calc(100% - 80px);
    overflow: auto;
    height: calc(100% - 20px);
    left: 60px;
    padding: 10px;
}

#add-emplolyee{
    position: absolute;
    max-height: 460px;
    background-color: white;
    box-shadow: 0px 0px 3px gray;
    border-radius: 5px;
    padding: 20px;
    overflow: auto;
}

#add-emplolyee{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#butoane-form{
    display: grid;
    width: calc(100% - 10px);
    grid-template-columns: repeat(2,50%);
    grid-gap: 10px;
    margin-top: 10px;
}

#butoane-form div{
    width: 100%;
    text-align: center;
    line-height: 37px;
    color: white;
    cursor: default;
    background-color: #4a6da7;
}

#butoane-form button{
    width: 100%;
    background-color: green;
}

h3{
    text-align: center;
}
#add-emplolyee label{
    margin-top: 10px;
}

.next-btn,.save-btn{
    grid-column: 2/3;
}

textarea{
    width: 300px;
    height: 200px;
    resize: none;
    font-size: 18px;
}

textarea:focus{
    outline: none;
    text-align: left;
    padding: 10px;
}

#preview-photo{
    height: 250px;
    border: 1px solid rgba(214, 214, 214, 0.555);
    border-radius: 3px;
    margin-top: 10px;
    background-image: url('../../../included/gallery/body/user.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#upload-photo-buton{
    background-color: #e0474c;
    color: white;
    line-height: 40px;
    width: 100%;
    text-align: center;
    cursor: default;
    width: 300px;
    font-size: 16px;
}

#upload-photo-buton span{
    position: relative;
    top: 4px;
    margin-left: 2.5px;
}

#buton-view-data{
    line-height: 40px;
    text-align: center;
    background-color: #4a6da7;
    color: white;
    margin-top: 10px;
    font-size: 16px;
    cursor: default;
}

.disabled{
    background-color: rgba(183, 183, 183, 0.658);
}

#view-all-info{
    position: absolute;
    background: rgb(255, 255, 255);
    width: calc(100% - 120px);
    height: calc(100% - 100px);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
    max-width: 800px;
    min-height: 460px;
    max-height: 800px;
    left: 50%;
    transform: translate(-50%,0%);
    display: grid;
    grid-template-columns: 60% 40%;
}

#close-view{
    padding: 5px;
    position: absolute;
    border-top-right-radius: 5px;
    right: 0px;
    top: 0px;
    cursor: pointer;
    transition: 100ms;
    background-color: white;
    transition: 200ms;
}

#close-view:hover{
    background-color: #e0474c;
    color: white;
}

#photo-employee{
    width: calc(100% - 20px);
    margin-left: 20px;
    background-color: gray;
    height:calc(100% / 3);
    background-image: url('../../../included/gallery/body/user.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 5px gray;
}

#info-employee{
    overflow: auto;
    height: 100%;
    width: 100%;
}

.titlu-date{
    text-align: left;
    color: rgb(39, 72, 112);
    font-size: 20px;
}

.paragraf-date{
    position: relative;
    font-size: 16px;
    width: calc(100% - 30px);
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    padding: 5px;
    background-color: rgb(224, 220, 220);
}

.titlu-date::first-letter {
    text-transform: uppercase;
}

select,input{
    text-transform: uppercase; 
}