#container{
    position: relative;
    top: 0px;
    width: 620px;
    min-height: 520px;
    overflow: auto;
    height: 100%;
    left: 60px;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill,300px);
    grid-template-rows: 300px 300px;
}

.eticheta-linkuri{
    color: white;
    background-color: #292929;
    font-size: 20px;
    padding: 15px;
}

.angajati{
    position: relative;
    box-shadow: 0px 0px 3px gray;
    border-radius: 5px;
    overflow: auto;
    background-color: white;
    height: 300px;
}


.linkuri-angajati div{
    position: relative;
}

.linkuri-angajati div a{
    padding: 10px 15px;
    font-size: 18px;
    display: inline-block;
    color: #4171ae;
    text-decoration: none;
}

