#container{
    position: absolute;
    top: 0px;
    width: 300px;
    min-height: 520px;
    width: calc(100% - 80px);
    overflow: auto;
    height: calc(100% - 20px);
    left: 60px;
    padding: 10px;
}

#search-angajati{
    display: flex;
    gap: 20px;
    background-color: white;
    box-shadow: 0px 0px 3px gray;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
}

#mesaj-ajutor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: gray;
    z-index: 999;
    text-align: center;
}

#cititor-angajati{
    background-color: white;
    box-shadow: 0px 0px 3px gray;
    border-radius: 5px;
    padding: 20px;
    position:absolute;
    display: grid;
    grid-template-columns: repeat(3,32%);
    grid-template-rows: repeat(7,auto);
    grid-gap: 5px;
    top: 135px;
    width: calc(100% - 60px);
    max-width: 1300px;
    overflow: auto;
    height: calc(100% - 185px);
    max-height: 1000px;
}

.titlu-date{
    text-align: left;
    color: rgb(39, 72, 112);
    font-size: 20px;
}

.paragraf-date{
    position: relative;
    font-size: 16px;
    width: calc(100% - 30px);
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    padding: 10px;
    background-color: rgb(224, 220, 220);
    height: 60px;
    overflow: auto;
    text-transform: uppercase;
}

.titlu-date::first-letter {
    text-transform: uppercase;
}

#imagine-salariat{
    width: 75px;
    height: 75px;
    background-color: gray;
    background-image: url('../../../included/gallery/body/user.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 2px gray;
    position: relative;
}

.editor-camp{
    position: relative;
    transition: 200ms;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
}

.editor-camp:hover{
    background-color: rgba(152, 152, 152, 0.702);
}

.editButon{
    color: black;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 10px;
    opacity: 0;
}

.editor-camp:hover > .editButon{
    opacity: 1;
}

.back-editare-campuri{
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    z-index: 999;
    border-radius: 5px;
}

.blur-efect{
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.7;
    z-index: 998;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

#editare-campuri{
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 40px;
    background-color: white;
    box-shadow: 0px 0px 5px gray;
    border-radius: 5px;
    overflow: auto;
    max-height: 400px;
}

.pozitionare-dreapta{
    width: 300px;
}

#close-editor{
    padding: 5px;
    position: absolute;
    border-top-right-radius: 5px;
    right: 0px;
    top: 0px;
    cursor: pointer;
    transition: 100ms;
    background-color: white;
    transition: 200ms;
}

#close-editor:hover{
    background-color: #e0474c;
    color: white;
}

select,input{
    text-transform: uppercase; 
}

#campuri-container::first-letter{
    text-transform: uppercase!important; 
}

textarea{
    width: 300px;
    height: 200px;
    resize: none;
    font-size: 18px;
}

.vertical-center{
    width: 100px;
    text-align: center;
    padding: 5px;
    color: white;
    background-color: #ab1c20;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px gray;
}

.delete-buton{
    position: relative;
    width: 100px;
    position: absolute;
    top:10px;
    right:20px;
}

.centrare-poza-det{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: calc(100% - 30px);
    padding: 15px 0px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 200ms;
    opacity: 0;
}

.centrare-poza-det:hover{
    opacity: 1;
}

#panou-stergere{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 5px gray;
}

.red-yes{
    background-color: #ab1c20;
    color: white;
}

