body{
    background-image: url('../../included/gallery/body/back-acces.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
}

#container{
    position: relative;
    top: 0px;
    width: 100%;
    min-height: 520px;
    overflow: auto;
    height: 100%;
}

h2{
    text-align: center;
}

form{
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    box-shadow: 0px 0px 3px rgb(146, 146, 146);
    border-radius: 5px;
}

label{
    width:300px;
}

.a-class{
    display: inline-block;
    width: 145px;
    margin-left: 5px;
    text-align: center;       
}

#terms-condition{
    display: inline;
    width:20px;
    text-align: left;
}

#term-label{
    display: inline;
    width:280px;
    margin: 20px;
    line-height: 60px;
}